.parallax{
  background: url("https://images.wallpaperscraft.ru/image/podsvechnik_svecha_podarki_temnyj_118754_1920x1080.jpg") fixed no-repeat 20%/cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;


  .parallaxBody{
    color: white;
    max-width: 1140px;
    padding: 0 40px;
    margin: 200px auto;
    @media (max-width: 600px) {
      text-align: center;
    }
    .subtitle{
      margin-bottom: 30px;
      font-size: 16px;
      padding-top: 20px;
    }
    .title{
      font-size:65px;
      font-weight: 600;
      margin: 20px 0;
      @media (max-width: 560px) {
        font-size: 35px;
      }
    }
    .description{
      max-width: 600px;
      font-size: 22px;
      margin:20px 0;
      word-break: break-word;
      @media (max-width: 560px) {
        font-size: 15px;
      }
    }
    a{
      text-decoration: none;
      color: white;
      padding: 10px 38px;
      border: 2px solid white;
      margin-top: 40px;
      font-size: 15px;
      letter-spacing: 1px;
      font-weight: 500;
      display: inline-block;
      transition: .3s ease-in-out;
      cursor: pointer;

      &:hover{
        background: white;
        color: black;
      }
    }
  }

}