.cartItems{
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 2fr 2fr 2fr;
  align-items: center;
  place-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid gray;
  .info{
    .title{
      font-size: 20px;
      color: chocolate;
      font-weight: 600;
    }


  }


  img{
    width: 80px;
    height: 80px;
  }
  .counter{
    max-width: 68px;
    height: 34px;
    font-size: 20px;
    border: 1px solid gray;
    outline: none;
  }
  .price{
    font-size: 25px;
    color: gray;
    font-weight: 600;
  }
}