.product{
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr;
  grid-gap: 10px;
  margin-bottom: 20px;
  img{
    width: 55px;
    height: 55px;
    
  }
  .titlePrice{
    text-transform: uppercase;

    .title{
      font-weight: 500;
      font-size: 18px;
    }
    .price{
      color: gray;
    }


  }
  .qty{
    color: gray;
    font-size: 15px;
  }
  a{
    padding: 5px 15px;
    background: black;
    margin: 0 9px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: 700;
    opacity: .9;
    transition: .3s ease;
    &:hover{
      opacity: 1;
    }
  }
  a:last-child{
    background: crimson;
  }
}